# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv
venv
*.venv

# IDE / Editor directories
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Environment files
.env

# OS-specific files
.DS_Store

data/certbot
